{% load static %}
{% load compress %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SAFE-AUTO-MOTO</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />
  
  <!--====== Favicon Icon ======-->
  <link rel="shortcut icon" href="{% static 'images/logos/LogoIconViolet.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}" />
  {% endcompress %}
  {% comment %} <link rel="stylesheet" href="node_modules/aos/dist/aos.css" /> {% endcomment %}
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</head>
